<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCS_ConfigMgmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DCS_ConfigMgmt.Properties.Settings>
            <setting name="sPathCurrent" serializeAs="String">
                <value />
            </setting>
            <setting name="sPathAlpha" serializeAs="String">
                <value />
            </setting>
            <setting name="sPathBeta" serializeAs="String">
                <value />
            </setting>
            <setting name="sMasterBranch" serializeAs="String">
                <value />
            </setting>
            <setting name="bSawConfigWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bVRConfActiveCurrent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bVRConfActiveAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bVRConfActiveBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFirstUseVRCurrent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bFirstUseVRAlpha" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bFirstUseVRBeta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sStartupOption" serializeAs="String">
                <value />
            </setting>
            <setting name="bManualPathCurrent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bManualPathAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bManualPathBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sSoundInput" serializeAs="String">
                <value />
            </setting>
            <setting name="sSoundOutput" serializeAs="String">
                <value />
            </setting>
        </DCS_ConfigMgmt.Properties.Settings>
    </userSettings>
</configuration>
